@model IEnumerable<Contactos8.Domain.Models.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Perfil.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubications)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Barrio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Perfil.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubications)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Barrio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AddressId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AddressId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AddressId })
        </td>
    </tr>
}

</table>
