@model Contactos8.Domain.Models.Job

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Perfil.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfil.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
