@model IEnumerable<Contactos8.Domain.Models.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Perfil.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Perfil.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JobId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JobId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JobId })
        </td>
    </tr>
}

</table>
